!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title Making “Meaningful Use” of Meaningful Use Data - by Social Health Insights using HHS/ONC/CMS Open Data
    %link{:href => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/css/normalize.css", :rel => "stylesheet"}/
    %link{:href => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/css/foundation.css", :rel => "stylesheet"}/
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/vendor/custom.modernizr.js"}
    %link{:href => "http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css", :rel => "stylesheet"}
    /[if lte IE 8] <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
    %script{:src => "http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "#{PUBLIC_HOST}/Leaflet.markercluster/MarkerCluster.css", :rel => "stylesheet"}
    %link{:href => "#{PUBLIC_HOST}/Leaflet.markercluster/MarkerCluster.Default.css", :rel => "stylesheet"}
    /[if lte IE 8] <link rel="stylesheet" href="../dist/MarkerCluster.Default.ie.css" />
    %script{:src => "#{PUBLIC_HOST}/Leaflet.markercluster/leaflet.markercluster-src.js"}
    %script{:src => "http://s3.amazonaws.com/mappyhealth-public/bootstrap/js/jquery.js"}
    %script{:src => "http://s3.amazonaws.com/mappyhealth-public/showLoading/jquery.showLoading.min.js"}
    %link{:href => "http://s3.amazonaws.com/mappyhealth-public/showLoading/showLoading.css", :rel => "stylesheet"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31592977-6']);
      _gaq.push(['_setDomainName', 'socialhealthinsights.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %nav.top-bar
      %ul.title-area
        / Title Area
        %li.name
          %h1
            %a{:href => "#"}
              Making
              %em "Meaningful Use"
              of Meaningful Use Data
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span menu
      %section.top-bar-section
        %ul.right
          %li.divider
          %li.has-dropdown
            %a{:href => "#"} Links
            %ul.dropdown
              %li
                %a{:href => "http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/DataAndReports.html", :target => "_blank"} Public Use CMS Data
              %li
                %a{:href => "http://www.socialhealthinsights.com", :target => "_blank"} Social Health Insights
              %li
                %a{:href => "http://www.mappyhealth.com", :target => "_blank"} MappyHealth
          %li.divider
          %li
            %a{:href => "#", :style => "padding:10px;"}
              %iframe{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=marks&repo=ONC-EHR-Incentives-Program-Payout-Data&type=fork", :width => "62"}

    .row
      %br/
      %br/
      .large-4.columns
        %h5 About
        %p
          The Office of the National Coordinator for Health Information Technology (ONC) released raw data of providers and hospitals attesting to
          %a{:href => "http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/Meaningful_Use.html", :target => "_blank"} Meaningful Use
          under the Health Information Technology for Economic and Clinical Health Act
          = precede "(" do
            = succeed ")." do
              %a{:href => "http://www.healthit.gov/policy-researchers-implementers/final-rules-regulations", :target => "_blank"}HITECH
          As
          %a{:href => "http://www.healthit.gov", :target => "_blank"}healthit.gov
          data has been made more and more open we saw opportunity to start the development of intuitive data visualizations showing the progress of this important piece of legislation. The following map provides you the ability to see the number of providers and hospitals that have attested to Meaningful Use as available in the ONC data set. We will keep this updated as the ONC updates their data set.
          %br
          %strong This is only the beginning.
        %p
          We envision a mash-up of various open data sets including but not limited to quality data, social data, and others to provide further insight. This is open source and on Github so please do help us keep the innovation going and let us know what you have done by tweeting to
          = succeed "," do
            %a{:href => "http://twitter.com/skram", :target => "_blank"}@skram
          = succeed "," do
            %a{:href => "http://twitter.com/geek_nurse", :target => "_blank"}@geek_nurse
          = succeed "," do
            %a{:href => "http://twitter.com/n2informaticsRN", :target => "_blank"}@n2informaticsRN
          or
          = succeed "." do
            %a{:href => "http://twitter.com/mappyhealth", :target => "_blank"}@mappyhealth
        %p
          This started as a weekend project sparked by a Twitter conversation between @Skram (Mark at Social Health Insights) and
          %a{:href => "http://twitter.com/Cascadia", :target => "_blank"}@Cascadia
          (Sherry at ONC who pointed us toward the right data set).

      .large-8.columns
        %h3 Visualizations
        %select#dropdown{:name => "dropdown"}
          %option{:value => "#{PUBLIC_HOST}#{@data_url}"} All US Hospitals
          - STATES.each do |state|
            %option{:value => "#{PUBLIC_HOST}/data/by_state/provider-#{state}.geojson"}= "#{state} Providers"
        %br/
        %br/
        #map{:style => "width: 100%; height: 600px; border: 1px solid #ccc;"}


    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-12.columns
            %ul.inline-list.right
              %li Data links:
              %li
                %a{:href => "http://github.com/marks/ONC-EHR-Incentives-Program-Payout-Data", :target => "_blank"} Github repo (includes geocoded data)
              %li
                %a{:href => "http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/DataAndReports.html", :target => "_blank"} Raw HHS/CMS data
        .row
          .large-12.columns
            %ul.inline-list.right
              %li Related links:
              %li
                %a{:href => "http://mappyhealth.com", :target => "_blank"} MappyHealth (health and disaster tracking on Twitter)
              %li
                %a{:href => "http://socialhealthinsights.com", :target => "_blank"} Social Health Insights (platforms to positively impact health)

    :javascript
      document.write('<script src=' +
      ('__proto__' in {} ? '#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/vendor/zepto' : '#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/vendor/jquery') +
      '.js><\/script>')
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation.min.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.alerts.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.clearing.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.cookie.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.dropdown.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.forms.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.joyride.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.magellan.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.orbit.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.placeholder.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.reveal.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.section.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.tooltips.js"}
    %script{:src => "#{PUBLIC_HOST}/zurb-foundation-4.0.3/js/foundation/foundation.topbar.js"}
    :javascript
      $(document).foundation();

      var map;
      var markers;

      function load_geojson_as_cluster(data_url,fit_bounds){
        $("#map").showLoading();
        $.getJSON(data_url, function(data){
          // clear all markers
          if(typeof(markers) != "undefined"){map.removeLayer(markers);}

          markers = new L.MarkerClusterGroup();
          var geoJsonLayer = L.geoJson(data, {
            onEachFeature: function (feature, layer) {
              props = feature.properties
              popup = ""
              if(props["PROVIDER - ORG NAME"]){popup += "<strong>" + props["PROVIDER - ORG NAME"]+"</strong>"}
              if(props["PROVIDER NAME"]){popup += "<strong>" + props["PROVIDER NAME"]+"</strong>"}
              popup += "<br />"+props["PROVIDER  ADDRESS"]
              popup += "<br />"+props["PROVIDER CITY"]+", " + props["PROVIDER STATE"] + " " + props["PROVIDER ZIP 5 CD"]
              popup += "<br /><br /> Phone: " + props["PROVIDER PHONE NUM"]
              popup += "<br /><br /> <a href=https://npiregistry.cms.hhs.gov/NPPESRegistry/NPIRegistryHome.do target=_blank>NPI</a>: " + props["PROVIDER NPI"]
              if(props["PROVIDER CCN"]){ popup += "<a href=http://www.qualitycheck.org/consumer/searchQCR.aspx target=_blank>CCN</a>: " + props["PROVIDER CCN"]}
              layer.bindPopup(popup)
            }
          });
          markers.addLayer(geoJsonLayer);
          map.addLayer(markers);
          if(fit_bounds == true){map.fitBounds(markers.getBounds());}
          $("#map").hideLoading();
        })
      }

      $(document).ready(function() {
        map = new L.Map('map', {
          layers: [new L.tileLayer('http://{s}.tile.cloudmade.com/{key}/999/256/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '© 2013 <a target="_blank" href="http://cloudmade.com">CloudMade</a> - Map data <a target="_blank" href="http://creativecommons.org/licenses/by-sa/2.0/">CCBYSA</a> 2013 <a target="_blank" href="http://openstreetmap.org">OpenStreetMap.org</a> contributors - <a target="_blank" href="http://cloudmade.com/terms_conditions">Terms of Use</a>',
            key: 'ed5940a5e0724173aba9da0d77368912'
          })]
        });
        load_geojson_as_cluster("#{PUBLIC_HOST}#{@data_url}",true)
      });

      $("#dropdown").change(function(){
        load_geojson_as_cluster($(this).val(),true)
      });

