!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %title US Healthcare Provider Mashup
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    :javascript
      var PUBLIC_HOST = "#{settings.public_host}"
    %script{:src => "http://code.jquery.com/jquery-1.9.1.js"}
    %script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
    %link{:href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}
    %script{:src => "http://s3.amazonaws.com/mappyhealth-public/showLoading/jquery.showLoading.min.js"}    
    %link{:href => "http://s3.amazonaws.com/mappyhealth-public/showLoading/showLoading.css", :rel => "stylesheet"}
    - if settings.production?
      %link{:href => "#{settings.public_host}/static/min.css", :rel => "stylesheet"}
      %script{:src => "#{settings.public_host}/static/foundation_all.min.js"}
      %script{:src => "#{settings.public_host}/static/min.js"}
    - else
      != css :application, :media => 'screen'
      != js :foundation_all
      != js :application

    - if settings.google_analytics_id.present?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{settings.google_analytics_id}']);
        _gaq.push(['_setDomainName', 'socialhealthinsights.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a{:href => "#"}
              US Healthcare Provider Mashup
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span menu
      %section.top-bar-section
        %ul.right
          %li.hide-for-small
            %a{:href => "#", :onclick => "javascript:toggle_column_mode()"}
              %span.has-tip{"data-tooltip" => "", "data-options" => "disable-for-touch:true", :title => "Toggle 1 and 2 column mode"}
                %i.foundicon-view-mode

          %li.divider
          %li.has-dropdown
            %a.links-link{:href => "#"} Links
            %ul.dropdown
              %li
                %a{:href => "http://github.com/marks/ONC-EHR-Incentives-Program-Payout-Data/", :target => "_blank"} Github Repo for this entire website
              %li
                %a{:href => "http://checkqm.com", :target => "_blank"} CheckQM (CQM and decision management)
              %li
                %a{:href => "http://www.socialhealthinsights.com", :target => "_blank"} Social Health Insights
              %li
                %a{:href => "http://www.mappyhealth.com", :target => "_blank"} MappyHealth (social media biosurveillance)
              %li
                %a{:href => "http://www.bloomapi.com", :target => "_blank"} Bloom API (friendly NPPES/NPI API)

    .row
      .large-12.columns
        .alert-box
          September 2013 Update: Hospital and Provider (physician) data has been updated to be up to date as of June 2013.

    .row
      .large-5.columns#side_section
        .section-container.tabs{"data-section" => "tabs"}
          %section
            %p.title{"data-section-title" => "about"}
              %a{:href => "#"} About
            .content{"data-section-content" => ""}
              %p
                The Center for Medicare and Medicaid Services (CMS) released raw data of providers and hospitals attesting to
                %a{:href => "http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/Meaningful_Use.html", :target => "_blank"} Meaningful Use
                under the Health Information Technology for Economic and Clinical Health Act
                = precede "(" do
                  = succeed ")." do
                    %a{:href => "http://www.healthit.gov/policy-researchers-implementers/final-rules-regulations", :target => "_blank"}HITECH
                As
                %a{:href => "http://www.healthit.gov", :target => "_blank"}healthit.gov
                data has been made more and more open we saw opportunity to start the development of intuitive data visualizations showing the progress of this important piece of legislation. The following map provides you the ability to see the number of Medicare hospitals and providers that have attested to Meaningful Use as available in the CMS data set. We will keep this updated as the CMS updates their data set.
                %br
                %strong This is only the beginning.
              %p
                Visit Mark's
                %a{:href => "http://socialhealthinsights.com/2013/03/hhscms-open-data-exploration-ehr-incentive-payments-to-eligible-hospitals-and-professionals/", :target => "_blank"}blog post about this project
                to see the presentation introducing it at the health edition of Data Business DC meetup.

              %p
                We envision a mash-up of various open data sets including but not limited to quality data, social data, and others to provide further insight. This is open source and on Github so please do help us keep the innovation going and let us know what you have done by tweeting to
                = succeed "," do
                  %a{:href => "http://twitter.com/skram", :target => "_blank"}@skram
                = succeed "," do
                  %a{:href => "http://twitter.com/geek_nurse", :target => "_blank"}@geek_nurse
                = succeed "," do
                  %a{:href => "http://twitter.com/n2informaticsRN", :target => "_blank"}@n2informaticsRN
                or
                = succeed "." do
                  %a{:href => "http://twitter.com/mappyhealth", :target => "_blank"}@mappyhealth
              %p
                This started as a weekend project sparked by a Twitter conversation between @Skram (Mark at Social Health Insights) and
                %a{:href => "http://twitter.com/Cascadia", :target => "_blank"}@Cascadia
                (Sherry at ONC, who works in the Office of Provider Adoption, although this grew out of an open data project in late February 2013) who pointed us toward the right data.
      
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} Icon Legend
            .content{"data-section-content" => ""}
              %table#legend
                %thead
                  %tr
                    %th Icon
                    %th Description
                %tbody
                  %tr
                    %td
                      %i.foundicon-view-mode
                    %td
                      Toggle between one and two column mode (desktop only)
                  %tr
                    %td
                      %img{:src => "#{settings.public_host}/mapicons.nicolasmollet.com/hospital-building-green.png"}
                    %td Received MU/HITECH incentive payments in 2011, 2012 and/or 2013
                  %tr
                    %td
                      %img{:src => "#{settings.public_host}/mapicons.nicolasmollet.com/hospital-building-red.png"}
                    %td
                      Did not receive any MU/HITECH incentive payments in 2011, 2012, or 2013


          %section
            %p.title{"data-section-title" => "data"}
              %a{:href => "#"} Data
            .content{"data-section-content" => ""}
              .section-container.accordion#feature_accordion{"data-section" => "accordion", "data-options" => "one_up: false"}
              %p To see specifics about a healthcare provider, click on their icon on the map to the right.

      .large-7.columns#content
        %h3 Map of United States Healthcare Providers
        .row
          .large-8.columns
            %select#dropdown{:name => "dropdown"}
              %option{:value => "#{settings.public_host}#{@default_data_url}"} ALL US Hospitals (updated June 2013)
              - STATES.each do |state|
                %option{:value => "#{settings.public_host}/db/cms_incentives/EP/#{state}.geojson"}= "#{state} Providers who received CMS HITECH incentives (updated June 2013)"
          .large-4.columns
            %a.tiny.secondary.button{:href => "#", :onclick => "map.locate({setView:true})"} Zoom to current location
       
        %p
          To see more information about a facility, select its marker on the map and then visit the "Data" tab on the left.

        #map


    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-12.columns
            %ul.inline-list.right
              %li Site links:
              %li
                %a{:href => "http://github.com/marks/ONC-EHR-Incentives-Program-Payout-Data", :target => "_blank"} Github repo (includes geocoded data)
              %li
                %a{:href => "http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/DataAndReports.html", :target => "_blank"} Raw HHS/CMS data
              %li
                %a{:href => "http://socialhealthinsights.com/terms-of-use/", :target => "_blank"} Terms of use
        .row
          .large-12.columns
            %ul.inline-list.right
              %li Related links:
              %li
                %a{:href => "http://public.tableausoftware.com/views/MeaningfulUseAttestationDataVisualization/MeaningfulUseAttestationData?:embed=y&:display_count=no", :target => "_blank"} Dashboard: MU attestation data by vendor
              %li
                %a{:href => "http://checkqm.com", :target => "_blank"} CheckQM (clinical quality measure and decision management)
              %li
                %a{:href => "http://mappyhealth.com", :target => "_blank"} MappyHealth (health and disaster tracking on Twitter)
              %li
                %a{:href => "http://socialhealthinsights.com", :target => "_blank"} Social Health Insights (platforms to positively impact health)

    :javascript
      $(document).foundation();

      $("#dropdown").change(function(){
        load_geojson_as_cluster($(this).val(),true)
      });

      $(document).ready(function() {
        // initialize and create Leaflet map
        var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/#{settings.leaflet_key}/{styleId}/256/{z}/{x}/{y}.png',
          cloudmadeAttribution = 'Map data &copy; OpenStreetMap contributors, Imagery &copy; CloudMade';

        var minimal   = L.tileLayer(cloudmadeUrl, {styleId: 22677, attribution: cloudmadeAttribution}),
            midnight  = L.tileLayer(cloudmadeUrl, {styleId: 999,   attribution: cloudmadeAttribution}),
            //motorways = L.tileLayer(cloudmadeUrl, {styleId: 46561, attribution: cloudmadeAttribution});

        map = L.map('map', {
            zoom: 10,
            layers: [minimal, motorways]
        });

        var baseMaps = {
            "Minimal": minimal,
            "Night View": midnight
        };

        var overlayMaps = {
            //"Motorways": motorways,
            //"Cities": cities
        };

        L.control.layers(baseMaps, overlayMaps).addTo(map);

        // add data to Leaflet map
        load_geojson_as_cluster("#{@default_data_url}",true)
      });
