!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %title US Healthcare Provider Mashup
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    :javascript
      var PUBLIC_HOST = "#{settings.public_host}"
    %script{:src => "http://code.jquery.com/jquery-1.9.1.js"}
    %script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
    %link{:href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}
    %script{:src => "http://s3.amazonaws.com/mappyhealth-public/showLoading/jquery.showLoading.min.js"}    
    %link{:href => "http://s3.amazonaws.com/mappyhealth-public/showLoading/showLoading.css", :rel => "stylesheet"}
    - if settings.production?
      %link{:href => "#{settings.public_host}/static/min.css", :rel => "stylesheet"}
      %script{:src => "#{settings.public_host}/static/foundation_all.min.js"}
      %script{:src => "#{settings.public_host}/static/min.js"}
    - else
      != css :application, :media => 'screen'
      != js :foundation_all
      != js :application

    - if settings.google_analytics_id.present?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{settings.google_analytics_id}']);
        _gaq.push(['_setDomainName', 'socialhealthinsights.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        
    :plain
      <!-- AddThis Smart Layers BEGIN -->
      <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5230cc743dc0c326"></script>
      <script type="text/javascript">
        addthis.layers({
          'theme' : 'transparent',
          'share' : {
            'position' : 'left',
            'numPreferredServices' : 4,
            'services': 'twitter,linkedin,facebook',
            'postShareRecommendedMsg':'Check out our other work at http://socialhealthinsights.com/'
          },
        });
      </script>
      <!-- AddThis Smart Layers END -->

  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a{:href => "#"}
              US Healthcare Provider Mashup
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span menu
      %section.top-bar-section
        %ul.right
          %li.hide-for-small
            %a{:href => "#", :onclick => "javascript:toggle_column_mode()"}
              %span.has-tip{"data-tooltip" => "", "data-options" => "disable-for-touch:true", :title => "Toggle 1 and 2 column mode"}
                %i.foundicon-accessibility-view-mode
          %li.divider
          %li.has-dropdown
            %a.links-link{:href => "#"} Links
            %ul.dropdown
              %li
                %a{:href => "http://github.com/marks/ONC-EHR-Incentives-Program-Payout-Data/", :target => "_blank"} Github Repo for this entire website
              %li
                %a{:href => "http://checkqm.com", :target => "_blank"} CheckQM (CQM and decision management)
              %li
                %a{:href => "http://www.socialhealthinsights.com", :target => "_blank"} Social Health Insights
              %li
                %a{:href => "http://www.mappyhealth.com", :target => "_blank"} MappyHealth (social media biosurveillance)
              %li
                %a{:href => "http://www.bloomapi.com", :target => "_blank"} Bloom API (friendly NPPES/NPI API)

    .row
      .large-12.columns
        .alert-box
          September 2013 Update: Hospital and Provider (physician) data has been updated to be up to date as of June 2013.

    .row
      .large-5.columns#side_section
        .section-container.tabs{"data-section" => "tabs"}
          %section
            %p.title{"data-section-title" => "about"}
              %a{:href => "#"} About
            .content{"data-section-content" => ""}
              %h4 Introduction
              %p
                The Center for Medicare and Medicaid Services (CMS) releases data about 
                %a{:href => "http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/Meaningful_Use.html", :target => "_blank"} providers and hospitals
                who have successfully attested to Meaningful Use and received incentives for using electronic health records (EHRs) under the Health Information Technology for Economic and Clinical Health Act
                = precede "(" do
                  = succeed ")." do
                    %a{:href => "http://www.healthit.gov/policy-researchers-implementers/final-rules-regulations", :target => "_blank"}HITECH
              %p
                With these and additional data being made more and more open,
                %a{:href => "http://socialhealthinsights.com/", :target => "blank"}
                  we (a team of clinicans, developers, and designers)
                saw an opportunity develop data visualizations and tools showing not only the progress but also potential impact of this and other important pieces of legislation.

              %h4 Leveraging Available Open Data
              %p
                We are collecting data from a number of great sources and encourage you to read our 
                %a{:href => "#", :"data-reveal-id" => "dataQualityModal"} note about data quality.
              %ul.fix
                %li
                  %a{:href => "http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/Meaningful_Use.html", :target => "blank"}
                    EHR Incentive Program Payment Data (Eligble Hospital and Eligible Provider CSVs from CMS website)
                %li
                  %a{:href => "http://www.medicare.gov/hospitalcompare/Data/About.html", :target => "blank"}
                    General Hospital Info from CMS Hospital Compare (via CMS)
                %li
                  %a{:href => "http://www.hcahpsonline.org/home.aspx", :target => "blank"}
                    Hospital Consumer Assessment of Healthcare Providers and Systems (HCAHPS) Survey Data
                %li
                  %a{:href => "http://www.medicare.gov/hospitalcompare/Data/Data-Sources.html", :target => "blank"}
                    Healthcare Associated Infections (via CDC)
                %li
                  %a{:href => "http://www.medicare.gov/hospitalcompare/Data/Data-Sources.html", :target => "blank"}
                    Healthcare Acquired Conditions (via CDC)
                %li
                  %a{:href => "http://www.medicare.gov/hospitalcompare/Data/Data-Sources.html", :target => "blank"}
                    Agency For Healthcare Research And Quality (AHRQ) Measures
                %li
                  %a{:href => "http://www.bloomapi.com", :target => "blank"}
                    Detailed information for NPIs (National Provider Identifiers) through BloomAPI, an open source project

              %h4 More Information
              %p
                %em We see this as being just the beginning and are interested in adding more data sets and ideas to this open source piece of software.
              %p
                For more background information, visit Mark's
                %a{:href => "http://socialhealthinsights.com/2013/03/hhscms-open-data-exploration-ehr-incentive-payments-to-eligible-hospitals-and-professionals/", :target => "_blank"}blog post about this project
                and/or the
                %a{:href => "https://speakerdeck.com/silverberg/cms-meaningful-use-data/", :target => "_blank"}presentation introducing an earlier version
                at the health edition of a Data Business DC meetup.

              %p
                We envision a mash-up of various open data sets including but not limited to quality, social, and other data to provide continuing insight. This is open source and on Github so please do help us keep  going and let us know what you have done by tweeting to
                = succeed "," do
                  %a{:href => "http://twitter.com/skram", :target => "_blank"}@Skram
                = succeed "," do
                  %a{:href => "http://twitter.com/geek_nurse", :target => "_blank"}@Geek_Nurse
                and/or
                = succeed "." do
                  %a{:href => "http://twitter.com/CheckQM", :target => "_blank"}@CheckQM

          %section
            %p.title{"data-section-title" => "legend"}
              %a{:href => "#"} Icon Legend
            .content{"data-section-content" => ""}
              %h4 Map and Icon Legend
              %table#legend
                %thead
                  %tr
                    %th Icon
                    %th Description
                %tbody
                  %tr
                    %td
                      %img{:src => "#{settings.public_host}/mapicons.nicolasmollet.com/hospital-building-green.png"}
                    %td Received MU/HITECH incentive payments in 2011, 2012 and/or 2013
                  %tr
                    %td
                      %img{:src => "#{settings.public_host}/mapicons.nicolasmollet.com/hospital-building-red.png"}
                    %td
                      Did not receive any MU/HITECH incentive payments in 2011, 2012, or 2013
                  %tr
                    %td
                      %i.foundicon-accessibility-view-mode
                    %td
                      Toggle between one and two column mode (desktop only)
                  %tr
                    %td
                      %i.foundicon-general-plus
                    %td
                      Show more additional details
                  %tr
                    %td
                      %i.foundicon-general-minus
                    %td
                      Hide additional details

          %section
            %p.title{"data-section-title" => "legend"}
              %a{:href => "#"} Metadata
            .content{"data-section-content" => ""}
              .alert-box.alert{:style => "padding-top:10px"} Work in progress
              %h4 Hospital (EH) Data Summary
              %script{:src => "https://gist.github.com/marks/6563510.js"}
              %hr
              %h4 Provider (EP) Data Summary
              %p
                %em Coming soon


          %section
            %p.title{"data-section-title" => "data"}
              %a{:href => "#"} Data
            .content{"data-section-content" => ""}
              %p
                To see data about a healthcare provider, click their icon on the map
                %a{:href => "#", :onclick => "addRandomHospitalToComparison()"} or click here for a random hospital.
              .row
                .large-12.columns
                  %input.filterable_input{:placeholder => 'Type to filter data within provider detail panels'}
              .row
                #feature_container_container.large-12.columns
                  #feature_container

      .large-7.columns#content
        %h3 Map of United States Healthcare Providers       
        %p
          To see more information about a provider, select its marker on the map.
          %br
          %em
            Options to filter the data are available below the map.
            %a{:href => "#", :"data-reveal-id" => "dataQualityModal"} Note about data quality.

        #map
        %br

        .row
          .large-12.columns
            %fieldset
              %legend Map Filters
              %h6 Choose provider type (Eligible Hospital/Eligible Provider)
              %select#dropdown{:name => "dropdown"}
                %option{:value => "#{@all_hospitals_with_geo_url}"} All US hospitals (updated June 2013)
                - STATES.each do |state|
                  %option{:value => "#{@state_providers_url}/#{state}.geojson"}= "#{state} providers who received CMS incentives (updated June 2013)"
              %hr
              %h6 Filter by EHR Incentives Received
              - ["never","2011","2012","2013"].each do |year|
                .large-3.columns
                  %label
                    - if year == "never"
                      Never
                    - else
                      In Year
                      = year
                  .switch.tiny.switch-paid
                    %input{:id => "switch-paid-#{year}-off", :name => "switch-paid-#{year}", :type => "radio", :value => "false"}/
                    %label{:for => "switch-paid-#{year}-off", :onclick => ""} Off
                    %input{:id => "switch-paid-#{year}-on", :checked => "", :name => "switch-paid-#{year}", :type => "radio", :value => "true"}/
                    %label{:for => "switch-paid-#{year}-on", :onclick => ""} On
                    %span
              %hr
              %h6 Looking for more filtering and reporting options?
              %p 
                %a{:href => "http://socialhealthinsights.com/contact-us"} Let's talk. We like doing this type of work.

    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-12.columns
            %ul.inline-list.right
              %li Site links:
              %li
                %a{:href => "http://github.com/marks/ONC-EHR-Incentives-Program-Payout-Data", :target => "_blank"} Github repo (includes geocoded data)
              %li
                %a{:href => "http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/DataAndReports.html", :target => "_blank"} Raw HHS/CMS data
              %li
                %a{:href => "http://socialhealthinsights.com/terms-of-use/", :target => "_blank"} Terms of use
        .row
          .large-12.columns
            %ul.inline-list.right
              %li Related links:
              %li
                %a{:href => "http://public.tableausoftware.com/views/MeaningfulUseAttestationDataVisualization/MeaningfulUseAttestationData?:embed=y&:display_count=no", :target => "_blank"} Dashboard: MU attestation data by vendor
              %li
                %a{:href => "http://checkqm.com", :target => "_blank"} CheckQM (clinical quality measure and decision management)
              %li
                %a{:href => "http://mappyhealth.com", :target => "_blank"} MappyHealth (health and disaster tracking on Twitter)
              %li
                %a{:href => "http://socialhealthinsights.com", :target => "_blank"} Social Health Insights (platforms to positively impact health)

    :javascript
      $(document).foundation();
      $(document).ready(function() {
        // initialize and create Leaflet map
        L.Icon.Default.imagePath = '/leaflet-0.6.4/images'
        
        var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/#{settings.leaflet_key}/{styleId}/256/{z}/{x}/{y}.png',
          cloudmadeAttribution = 'Map data &copy; OpenStreetMap contributors, Imagery &copy; CloudMade';

        var minimal   = L.tileLayer(cloudmadeUrl, {styleId: 22677, attribution: cloudmadeAttribution}),
            midnight  = L.tileLayer(cloudmadeUrl, {styleId: 999,   attribution: cloudmadeAttribution});
        
        map = L.map('map', {
            maxZoom: 8,
            layers: [minimal]
        });
        
        var baseMaps = {"Light theme": minimal, "Dark theme": midnight },
          overlayMaps = {};

        L.control.layers(baseMaps, overlayMaps).addTo(map);

        load_geojson_as_cluster("#{@all_hospitals_with_geo_url}",true)
      });

      $("#dropdown,.switch-paid").change(function(){
        load_geojson_as_cluster($("#dropdown").val(),true)
      });

  #dataQualityModal.reveal-modal.medium
    %h2 A Note About Data Quality
    %p.lead Data quality: it's important to us and should be to you too.
    %p
      As you read in the 'About' text, this website is compilation of open and freely available data from a number of data providers and stewards. We are bringing these disparate sources together as carefully as possible using unique entity identifiers (CMS CCN for hospitals and NPI for providers) but anomalies
      %em can
      occur and we want you to be aware of these.
    %h3 Sources of issues
    %ul
      %li Sometimes the data sources we pull from have errors due to any number of reasons including typos
      %li
        The data we have 'added' is the georaphic coding (aka 'geocoding') of all 200,000+ hospitals and eligible providers we report on. Geocoding in of itself is a science and doing it in a economical and automated fashion is no small feat. We use the awesome open source geocoding software package at 
        %a{:href => "http://datasciencetoolkit.org", :target => "blank"} datasciencetoolkit.org
        but are open to suggestions and software licensing donations too.
    %h3 Known issues
    %ul
      %li
        It appears as though a number of eligible providers' NPI records report an inaccurate state while the address on record, along with its zip, appear correct. This causes outliers to be shown when you select, for example, Indiana EPs, and see one with an address and map marker in Nevada.
        %em We are working to get in contact with the right people and help solve this issue.
      %li
        We are also aware that some addresses are not being geocoded with the accuracy we would like. For example, some addresses are not in the geocoding database and the provider's marker will show in the center of its city or other administrative area. 
    %h3 How you can help:
    %p
      If you see something odd,
      %a{:href => "http://socialhealthinsights.com/contact-us/", :target => "blank"} please let us know.
      We're here to make this better. You can even
      %a{:href => "http://github.com/marks/ONC-EHR-Incentives-Program-Payout-Data", :target => "blank"}contribute a fix on Github
      but we certainly don't expect you to. We'll dig into it if you bring the problem to our attention.
    %a.close-reveal-modal ×
